project_id         = "your-gcp-project-id"
region             = "us-central1"
db_user            = "your-db-user"
db_password        = "your-db-password"
django_secret_key  = "your-django-secret-key"
github_owner       = "your-github-user"
github_repo        = "your-django-repo"
cloudbuild_trigger_name = "your-project-trigger-push"
DJANGO_SUPERUSER_USERNAME = "your-admin-username"
DJANGO_SUPERUSER_EMAIL    = "your-admin-email@example.com"
DJANGO_SUPERUSER_PASSWORD = "your-admin-password"
custom_domain              = "django.yourdomain.com"
